<section id="servicios">
    <div class="container">
        <h1 class="text-center">Servicios</h1>
        <div class="row">
            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class="fas servicesIcon fa-clock"></i>
                        <h4 class="card-title mt-3">Electronica</h4>
                        <p class="card-text mt-3">Ampliio conocimiento en programacion de chip y reparacion de fuentes conmutadas.
                        </p>
                    </div>
                </div>  
            </div>
            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='fas servicesIcon fa-layer-group'></i>
                        <h4 class="card-title mt-3">Diseñador</h4>
                        <p class="card-text mt-3">Manejo herramientas de diseño grafico e industrial como el Corel Draw, Auto Cad, Solid Work.
                        </p>
                    </div>
                </div>  
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='far servicesIcon fa-check-circle'></i>
                        <h4 class="card-title mt-3">Desarrollo de web-App</h4>
                        <p class="card-text mt-3">Poseo una fabrica de aplicaciones en linea para facilitar la creacion de las mismas a clientes, tambien a su administracion facil y segura a soluciones rapidas y modernas.
                        </p>
                    </div>
                </div>  
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='fas servicesIcon fa-search'></i>
                        <h4 class="card-title mt-3">Ventas</h4>
                        <p class="card-text mt-3">Actualmente mi unico empleo es vender jugos nutraceuticos de la compania FUXION en forma de distribuidor independiente
                        </p>
                    </div>
                </div>  
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='fas servicesIcon fa-shield-alt'></i>
                        <h4 class="card-title mt-3">Desarrollador</h4>
                        <p class="card-text mt-3">Participo activamente en desarrollos informaticos y electronicos en materia de accesibilidad
                        </p>
                    </div>
                </div>  
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='fas servicesIcon fa-wrench'></i>
                        <h4 class="card-title mt-3">Reparacion de PC</h4>
                        <p class="card-text mt-3">A lo largo de los años trabaje como reparador de PC y maquinas CNC ( controladoras numericas por computadora)
                        </p>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</section>