<app-header></app-header>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#inicio">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#sobremi">Sobre Mi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#servicios">Servicios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
        </li>
    </ul>
    
</div>
<app-ferinicio></app-ferinicio>
<app-fersobremi></app-fersobremi>
<app-ferservi></app-ferservi>
<app-ferprofolio></app-ferprofolio>
<app-fercontact></app-fercontact>
<app-ferfooter></app-ferfooter>