<section id="sobremi">
    <div class="container mt-4 pt-4">
        <h1 class="text-center">Sobre Mi</h1>
        <div class="row mt-4">
            <div class="col-lg-4">
                <img src="sobremi.jpeg" class= "imagesobremiPag1" alt="Es una imagen de mi rostro soy muy lindo">
            </div>

            <div class="col-lg-8">
                <p> Mi nombre es Fernando, me gusta innovar y tengo una mirada del mundo muy diferente y diversa en comparacion al la media de la poblacion.
                    
                </p>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <ul type="square">
                            <li>Apellidos: Quinteros Barrera</li>
                            <li>Nombres: Fernando Martin</li>
                            <li>Edad: 44</li>
                            <li>Ocupacion: Desarrollador</li>

                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>Ciudad: Neuquen Capital</li>
                            <li>Estado Civil: Casado</li>
                            <li>Actualmente: desempleado formalmente desde hace 23 años</li>
                            <li>Discapacidad: TEA ( trastorno en el espectro autista)</li>

                        </ul>
                    </div>
                </div>
                <div class="row mt-3">
                    <p> Mi personalidad dicen que es muy divertida, debe ser que parezco un Adulto niño, esto es debido a mi discapacidad, si bien lo aparento eso no me impide
                        tomar compromisos y darles la seriedad y trato como los adultos serios lo hacen.
                    </p>
                </div>
            </div>
        </div>
