<section id="portfolio">
    <div class="container mt-3">
        <h1 class="text-center">Portfolio</h1>
        <div class="row">
            <div class="col-lg-4 mt-4">
                <div class="card">
                    <img class="card-img-top" src="./images/portfolioImage1.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Participacion</h4>
                        <p class="card-text">Expuse en una feria de trabajo, una innovacion, administrador de APP algo no pensado por las empresas</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-success">Link</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card portfolioContent">
                    <img class="card-img-top" src="./images/portfolioImage2.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Accesibilidad</h4>
                        <p class="card-text">Tome en cuenta a las personas con capacidades diferentes para exponen mis proyectos</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-success">Link</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card portfolioContent">
                    <img class="card-img-top" src="./images/portfolioImage3.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Voluntariado</h4>
                        <p class="card-text">Participo activamentes de ONG nacionales e internacionales en la <b><em>concientizacion</em></b>   de la diversidad cognitiva</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-success">Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4 mt-4">
                <div class="card portfolioContent">
                    <img class="card-img-top" src="./images/portfolioImage4.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">TVUNCo</h4>
                        <p class="card-text">Éste trabajo fue pensado y planteado por la creciente deserción que vivimos año tras año en las aulas de las distintas carreras de Ingeniería. Está destinado en primera instancia a aquellos alumnos que no han podido ingresar en forma “óptima” a la Universidad, ya sea por una baja formación educativa o cuestiones geográficas y sociales</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-success">Link</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card portfolioContent">
                    <img class="card-img-top" src="./images/portfolioImage5.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Antenas Audiovisuales</h4>
                        <p class="card-text">Diseñe las primeras antenas audiovisuales del mundo, funcionan a travez de la frecuencia de radio actualizandose y trasmiten en la frecuencia de wifi
                            no se necesita internet para acceder al contenido.
                        </p>
                        <div class="text-center">
                            <a href="#" class="btn btn-success">Link</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card portfolioContent">
                    <img class="card-img-top" src="./images/portfolioImage6.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Asperger</h4>
                        <p class="card-text">Tengo asperger, es un trastorno dentro del expectro autista que me da una mirada diferente en otro formato del mundo que conocemos, estoy casado con Rosa castro la madre de mis dos hijos y ella en esta foto lo dice todo.</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-success">Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
