.bgimage {
 
    background: url('images/yo.jpeg');
 
}
.navbarScroll.navbarDark {
    background-color: black;
}

/* espaciado en todas las secciones */
#sobremi, #servicios, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}